body {
    background-image: url("../imgs/bg_bluegradient.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

Header img {
    margin: auto;
    display: block;
    width: 12em;
}

.fontw-500 {
    font-weight: 500;
}

h1 {
    padding-bottom: 1em;
}

#proyectos {
    margin-top: -3em;
    padding-top: 3em;
}

.navbar-toggler-icon {
    background-color: white;
}
