body {
    background-image: url("../imgs/bg_bluegradient.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

Header img {
    margin: auto;
    display: block;
    width: 12em;
}